



.signup-box{
    width: 360px;
    height: 620px;
    margin: auto;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    transform: translate(-50%,-50%);
    margin-top: 5%;
    

}



h1{
    text-align: bottom;
    padding-top: 15px;
    color:white;
    margin-top: 5%;
    padding:10px;
}
form{
    width: 300px;
    margin-top: 20px;
    font-size: 18px;
    border-radius:3px;
    padding: 30px;
    color:white;
    margin-left: 5%;
    
    
}
form input{
    width: 100%;
    padding: 7px;
    border:none;
    border: 1px solid gray;
    border-radius:6px;
    outline: none;
    
    margin-left: 5%;
    
    
}

.button1{
    width: 100px;
    height: 35px;
    margin-left: 10%;
    border: none;
    background-color: #ff7200;
    color: white;
    font-size: 15px;
    padding: 5px;
}
p{
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
    
}