
   <div  >
        <h3 style="text-align:center; padding:15px;"> View Teacher Details</h3>

        <div style= "padding-left:450px;" >
            <div >
                <label> <b> First Name: </b></label> {{teacher.firstName}}
            </div>
            <div>
                <label> <b> Last Name: </b></label> {{teacher.lastName}}
            </div>
            <div>
                <label> <b> Email Id: </b></label> {{teacher.email}}
            </div>
            <div>
                <label> <b> Mobile Number: </b></label> {{teacher.mobno}}
            </div>
            <div>
                <label> <b> Address: </b></label> {{teacher.address}}
            </div>
            <div>
                <label> <b> Qualification: </b></label> {{teacher.qualification}}
            </div>
            <div>
                <label> <b> Teaching Subject: </b></label> {{teacher.teaching_subject}}
            </div>
            <div>
                <label> <b> Teaching Type: </b></label> {{teacher.teachingType}}
            </div>
        </div>
        <div style="text-align:center;padding: 10px;">
        <button class = "btn btn-dark"   type ="submit"><a  style=" color:#ff7200;" href="teachers">Back</a></button>
   </div>

   </div>
    